.left-side-bar {
  height: 100%;
  width: 100px;

  background-color: #ffffff;

  @include flexbox($justify: flex-start, $direction: column);

  &:hover {
    width: 300px;

    .left-side-bar__top {
      justify-content: space-between;
      padding: 2em;

      &__menu {
        justify-self: flex-end;
      }

      &__pharmacy-name {
        display: block;
      }

      &__logo {
        display: block;
      }
    }

    .left-side-bar__mid {
      padding-left: 10px;

      &__function {
        width: 100%;

        border-radius: 5em 0 0 5em;
        justify-content: flex-start;

        padding-left: 2em;

        &__name {
          display: block;
        }
      }
    }
  }

  &__top {
    flex-grow: 1;
    width: 100%;
    max-height: 107px;

    background-color: $main-purple;

    @include flexbox($justify: center);

    &__menu {
      width: 1.2em;
      height: auto;

      justify-self: center;

      cursor: pointer;
    }

    &__pharmacy-name {
      font-size: 24px;
      line-height: 36px;
      font-style: normal;
      font-weight: normal;

      color: $white-purple;

      display: none;

      cursor: pointer;
    }

    &__logo {
      cursor: pointer;

      display: none;
    }
  }

  &__mid {
    width: 100%;
    height: auto;

    flex-grow: 1;

    @include flexbox($justify: flex-start, $direction: column);
  }
}
