.right-side-bar {
  height: 100%;
  width: 490px;

  background-color: #f9fafe;

  justify-self: flex-end;

  @include flexbox(
    $direction: column,
    $align: flex-start,
    $justify: flex-start
  );

  &__top {
    @include flexbox($direction: column, $justify: flex-start);
    margin-top: 0.5em;

    height: 10%;
    width: 100%;

    flex-grow: 0.3;

    &__pharmacy {
      @include flexbox($direction: column);

      &__hero {
        @include flexbox;

        margin: 2em 1em;

        & .name {
          font-family: Poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 48px;
          line-height: 72px;

          color: #444444;
        }
      }

      &__location {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;

        color: #666666;

        margin-bottom: 1em;
      }
    }
  }

  &__mid {
    flex-grow: 0.1;

    margin-top: 6em;

    width: 100%;
    height: auto;

    @include flexbox($direction: column, $align: flex-start);

    &__transaction {
      @include flexbox($justify: flex-start);

      margin-left: 3em;

      font-size: 18px;
      line-height: 36px;
      color: #444444;

      & .name {
        margin-right: 1em;

        font-style: normal;
        font-weight: normal;
      }
    }

    &__clerk {
      @include flexbox;

      margin-left: 3em;

      & .picture {
        margin: 1em 1em 1em 0;
      }

      &__hero {
        @include flexbox($align: flex-start, $direction: column);

        font-size: 24px;
        line-height: 36px;

        color: #444444;

        & .name {
          font-style: normal;
          font-weight: normal;
        }

        & .title {
          align-self: flex-end;

          font-style: normal;
          font-weight: normal;

          font-size: 16px;
          line-height: 24px;

          color: #666666;
        }
      }
    }
  }

  &__bot {
    flex-grow: 1;

    width: 100%;

    padding: 2em 3em;

    @include flexbox($direction: column, $justify: flex-start);

    & .table {
      width: 100%;
      height: 30vh;
      overflow-y: scroll;

      display: grid;

      grid-template-rows: auto;

      row-gap: 1em;

      & .table__card {
        display: grid;

        width: 100%;

        grid-template-areas: "name piece price total";
        grid-template-columns: 0.5fr repeat(3, 0.2fr);

        justify-items: center;
        align-items: center;

        row-gap: 1em;

        &__item {
          font-size: 14px;
          line-height: 21px;

          color: #666666;

          &.name {
            grid-area: name;
            justify-self: flex-start;
          }
          &.piece {
            grid-area: piece;

            h1 {
              font-style: normal;
              font-weight: normal;
            }
          }
          &.price {
            grid-area: price;

            h1 {
              font-style: normal;
              font-weight: normal;
            }
          }
          &.total {
            grid-area: total;
            @include flexbox($justify: flex-end);
          }
        }
      }
    }

    & .calculations {
      margin-top: 2em;
      width: 100%;

      @include flexbox($justify: flex-end, $direction: column);

      & .total-items {
        width: 50%;
        align-self: flex-end;

        @include flexbox($justify: space-between);

        .name {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;

          color: #666666;
        }

        .number {
          font-size: 14px;
          line-height: 21px;

          color: #666666;
        }
      }

      & .subtotal {
        width: 50%;
        align-self: flex-end;

        @include flexbox($justify: space-between);

        .name {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;

          color: #666666;
        }

        .number {
          font-size: 14px;
          line-height: 21px;

          color: #666666;
        }
      }

      & .discount {
        width: 50%;
        align-self: flex-end;

        @include flexbox($justify: space-between);

        .name {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;

          color: #666666;
        }

        .number {
          font-size: 14px;
          line-height: 21px;

          color: #666666;
        }
      }
    }

    & .total {
      @include flexbox($justify: space-between);
      width: 100%;

      .name {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;

        color: #666666;
      }

      .number {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;

        color: #666666;
      }
    }

    .pay-transaction {
      margin-top: 1em;
      @include flexbox($justify: space-between);
      width: 400px;

      .input-payment {
        // margin-left: auto;
        width: 200px;
        height: 50px;
        font-size: large;
        font-weight: bold;
      }
    }
  }

  .pay-total {
    right: 3em;
    bottom: 2em;
    position: absolute;
    height: 60px;
    width: 120px;
    border: none;
    background-color: yellowgreen;
    border-radius: 10px;
    color: $white-purple;
    cursor: pointer;
  }
}

.line {
  width: 90%;
  border-top: 2px solid black;

  margin: 1em auto;

  &--broken {
    width: 100%;
    margin: 1em auto;
    border-top: 2px dashed black;
  }
}
