$breakpoints: (
  "small": 320px,
  "semi-medium": 425px,
  "medium": 768px,
  "semi-large": 1024px,
  "large": 1366px,
  "extra-large": 1920px
) !default;

//font-weights
$normal: 400;
$semi-bold: 600;
$bold: 700;
