$breakpoints: (
  "small": 320px,
  "semi-medium": 425px,
  "medium": 768px,
  "semi-large": 1024px,
  "large": 1366px,
  "extra-large": 1920px
) !default;

//font-weights
$normal: 400;
$semi-bold: 600;
$bold: 700;

$main-purple: #6646eb;
$white-purple: #f0edfe;

$checkout-grid-template-fractions: 1fr 1.2fr 0.6fr 1.5fr 0.5fr;
