@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none !important;
}

ul {
  list-style-type: none;
}

.site {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.left-side-bar {
  height: 100%;
  width: 100px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.left-side-bar:hover {
  width: 300px;
}

.left-side-bar:hover .left-side-bar__top {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
}

.left-side-bar:hover .left-side-bar__top__menu {
  justify-self: flex-end;
}

.left-side-bar:hover .left-side-bar__top__pharmacy-name {
  display: block;
}

.left-side-bar:hover .left-side-bar__top__logo {
  display: block;
}

.left-side-bar:hover .left-side-bar__mid {
  padding-left: 10px;
}

.left-side-bar:hover .left-side-bar__mid__function {
  width: 100%;
  border-radius: 5em 0 0 5em;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 2em;
}

.left-side-bar:hover .left-side-bar__mid__function__name {
  display: block;
  font-size: 18px;
}

.left-side-bar__top {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  max-height: 107px;
  background-color: #6646eb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.left-side-bar__top__menu {
  width: 1.2em;
  height: auto;
  -ms-grid-column-align: center;
      justify-self: center;
  cursor: pointer;
}

.left-side-bar__top__pharmacy-name {
  font-size: 24px;
  line-height: 36px;
  font-style: normal;
  font-weight: normal;
  color: #f0edfe;
  display: none;
  cursor: pointer;
}

.left-side-bar__top__logo {
  cursor: pointer;
  display: none;
}

.left-side-bar__mid {
  width: 100%;
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  height: 100%;
  width: 1080px;
  background-color: #f2f5fa;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .search {
  width: 500px;
  height: 51.04px;
  background-color: #ffffff;
  border-radius: 5em;
  margin: 5em 0 4em 0;
  padding: 0 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main .search__main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main .search__main__logo {
  margin-right: 1em;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  width: 21px;
  height: auto;
  cursor: z;
}

.main .search__main__name {
  width: 80%;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 48px;
}

.main .search__main__name::-webkit-input-placeholder {
  padding-left: 0.2em;
  color: #b4b1bc;
  font-style: normal;
  font-weight: normal;
}

.main .search__main__name:-ms-input-placeholder {
  padding-left: 0.2em;
  color: #b4b1bc;
  font-style: normal;
  font-weight: normal;
}

.main .search__main__name::-ms-input-placeholder {
  padding-left: 0.2em;
  color: #b4b1bc;
  font-style: normal;
  font-weight: normal;
}

.main .search__main__name::placeholder {
  padding-left: 0.2em;
  color: #b4b1bc;
  font-style: normal;
  font-weight: normal;
}

.main .search__results-count {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 7em;
  color: #b4b1bc;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
}

.main .table {
  width: 100%;
  height: 80vh;
  overflow-y: scroll;
}

.main .table__header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 1.2fr 1fr 1.5fr 0.5fr 0.4fr;
      grid-template-columns: 0.5fr 1.2fr 1fr 1.5fr 0.5fr 0.4fr;
      grid-template-areas: "generic brand company dosage price";
  width: 90%;
  margin: 0 auto 1em auto;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .table__header__item {
  color: #b4b1bc;
  text-transform: uppercase;
}

.main .table__header__item .name {
  font-size: 18px;
  cursor: pointer;
}

.main .table__header__item .text {
  width: 1.5em;
}

.main .table__header__item .text:hover {
  font-weight: bold;
}

.main .table__header__item.generic {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: generic;
}

.main .table__header__item.brand {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: brand;
}

.main .table__header__item.company {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: company;
}

.main .table__header__item.dosage {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: dosage;
}

.main .table__header__item.quantity {
  grid-area: quantity;
}

.main .table__header__item.price {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: price;
}

.main .table__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  row-gap: 6px;
}

.main .table__body__card {
  cursor: default;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 1.2fr 1fr 1.5fr 0.5fr 0.5fr;
      grid-template-columns: 0.5fr 1.2fr 1fr 1.5fr 0.5fr 0.5fr;
      grid-template-areas: "generic brand company dosage price";
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  height: 60px;
  -webkit-transition: width 500ms ease;
  transition: width 500ms ease;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 1em;
}

.main .table__body__card--unavailable {
  cursor: default;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 1.2fr 1fr 1.5fr 0.5fr 0.5fr;
      grid-template-columns: 0.5fr 1.2fr 1fr 1.5fr 0.5fr 0.5fr;
      grid-template-areas: "generic brand company dosage price";
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  height: 60px;
  -webkit-transition: width 500ms ease;
  transition: width 500ms ease;
  margin: 0 auto;
  background-color: #EEE2E2;
  border-radius: 1em;
}

.main .table__body__card--unavailable:hover {
  background-color: #EEE2E2;
  cursor: pointer;
  width: 92%;
  height: 70px;
  margin: 5px auto;
}

.main .table__body__card:hover {
  background-color: #f9fafe;
  cursor: pointer;
  width: 92%;
  height: 70px;
  margin: 5px auto;
}

.main .table__body__card__item {
  color: #91a2b6;
}

.main .table__body__card__item .name {
  font-size: 16px;
  line-height: 21px;
  font-weight: normal;
  font-style: normal;
}

.main .table__body__card__item .text {
  width: 6em;
}

.main .table__body__card__item.generic {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: generic;
  color: #6646eb;
}

.main .table__body__card__item.brand {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: brand;
}

.main .table__body__card__item.company {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: company;
}

.main .table__body__card__item.dosage {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: dosage;
}

.main .table__body__card__item.price {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: price;
}

.main .table__body__card__item.button {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: .8em;
  grid-area: button;
  background-color: #6646eb;
  width: 7em;
  height: 3em;
  color: white;
}

.right-side-bar {
  height: 100%;
  width: 490px;
  background-color: #f9fafe;
  justify-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.right-side-bar__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2em;
  height: 10%;
  width: 100%;
  -webkit-box-flex: 0.3;
      -ms-flex-positive: 0.3;
          flex-grow: 0.3;
}

.right-side-bar__top__pharmacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.right-side-bar__top__pharmacy__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 2em 1em;
}

.right-side-bar__top__pharmacy__hero .name {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;
  color: #444444;
}

.right-side-bar__top__pharmacy__location {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  margin-bottom: 1em;
}

.right-side-bar__mid {
  -webkit-box-flex: 0.1;
      -ms-flex-positive: 0.1;
          flex-grow: 0.1;
  margin-top: 6em;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.right-side-bar__mid__transaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 3em;
  font-size: 18px;
  line-height: 36px;
  color: #444444;
}

.right-side-bar__mid__transaction .name {
  margin-right: 1em;
  font-style: normal;
  font-weight: normal;
}

.right-side-bar__mid__clerk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 3em;
}

.right-side-bar__mid__clerk .picture {
  margin: 1em 1em 1em 0;
}

.right-side-bar__mid__clerk__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 24px;
  line-height: 36px;
  color: #444444;
}

.right-side-bar__mid__clerk__hero .name {
  font-style: normal;
  font-weight: normal;
}

.right-side-bar__mid__clerk__hero .title {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}

.right-side-bar__bot {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  padding: 2em 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.right-side-bar__bot .table {
  width: 100%;
  height: 30vh;
  overflow-y: scroll;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  row-gap: 1em;
}

.right-side-bar__bot .table .table__card {
  display: -ms-grid;
  display: grid;
  width: 100%;
      grid-template-areas: "name piece price total";
  -ms-grid-columns: 0.5fr (0.2fr)[3];
      grid-template-columns: 0.5fr repeat(3, 0.2fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1em;
}

.right-side-bar__bot .table .table__card__item {
  font-size: 14px;
  line-height: 21px;
  color: #666666;
}

.right-side-bar__bot .table .table__card__item.name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
  justify-self: flex-start;
}

.right-side-bar__bot .table .table__card__item.piece {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: piece;
}

.right-side-bar__bot .table .table__card__item.piece h1 {
  font-style: normal;
  font-weight: normal;
}

.right-side-bar__bot .table .table__card__item.price {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: price;
}

.right-side-bar__bot .table .table__card__item.price h1 {
  font-style: normal;
  font-weight: normal;
}

.right-side-bar__bot .table .table__card__item.total {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: total;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.right-side-bar__bot .calculations {
  margin-top: 2em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.right-side-bar__bot .calculations .total-items {
  width: 50%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.right-side-bar__bot .calculations .total-items .name {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #666666;
}

.right-side-bar__bot .calculations .total-items .number {
  font-size: 14px;
  line-height: 21px;
  color: #666666;
}

.right-side-bar__bot .calculations .subtotal {
  width: 50%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.right-side-bar__bot .calculations .subtotal .name {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #666666;
}

.right-side-bar__bot .calculations .subtotal .number {
  font-size: 14px;
  line-height: 21px;
  color: #666666;
}

.right-side-bar__bot .calculations .discount {
  width: 50%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.right-side-bar__bot .calculations .discount .name {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #666666;
}

.right-side-bar__bot .calculations .discount .number {
  font-size: 14px;
  line-height: 21px;
  color: #666666;
}

.right-side-bar__bot .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.right-side-bar__bot .total .name {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #666666;
}

.right-side-bar__bot .total .number {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #666666;
}

.right-side-bar__bot .pay-transaction {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 400px;
}

.right-side-bar__bot .pay-transaction .input-payment {
  margin: auto;
  width: 200px;
  height: 50px;
  font-size: large;
  font-weight: bold;
}

.right-side-bar .pay-total {
  right: 2em;
  bottom: 2em;
  position: absolute;
  height: 60px;
  width: 120px;
  border: none;
  background-color: yellowgreen;
  border-radius: 10px;
}

.line {
  width: 90%;
  border-top: 2px solid black;
  margin: 1em auto;
}

.line--broken {
  width: 100%;
  margin: 1em auto;
  border-top: 2px dashed black;
}

.left-side-bar__mid__function {
  width: 80px;
  height: 80px;
  margin: 1em;
  border-radius: 100%;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.left-side-bar__mid__function--active {
  color: #6646eb;
  background-color: #f2f5fa;
}

.left-side-bar__mid__function__logo {
  width: 40px;
  height: auto;
}

.left-side-bar__mid__function__name {
  margin: auto 1em;
  display: none;
}

.left-side-bar__mid__function:hover {
  background-color: #f2f5fa;
  cursor: pointer;
  color: #6646eb;
}

.close {
  position: absolute;
  right: 0.5em;
  top: 0;
  font-size: 42px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: none;
}

.modal--show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal .add-medicine {
  height: 50vh;
  width: 50vw;
  -webkit-transform: translateY(-5em);
          transform: translateY(-5em);
  background-color: white;
  border-radius: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .add-medicine .table {
  -webkit-transform: translateY(-1.5em);
          transform: translateY(-1.5em);
  width: 90%;
  margin: 2em 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  row-gap: 0.8em;
  -webkit-column-gap: 5em;
          column-gap: 5em;
  color: rgba(61, 62, 64, 0.7);
}

.modal .add-medicine .table__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.modal .add-medicine .table__item h1 {
  font-size: 18px;
  width: auto;
}

.modal .add-medicine .table__item .name {
  font-weight: normal;
  font-style: normal;
}

.modal .add-medicine .cash-out {
  position: absolute;
  bottom: 2em;
  width: 90%;
  color: rgba(61, 62, 64, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.modal .add-medicine .cash-out .total {
  width: 30%;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.modal .add-medicine .cash-out .total h1 {
  font-size: 24px;
}

.modal .add-medicine .cash-out .total h1.name {
  font-weight: normal;
  font-style: normal;
}

.modal .add-medicine .cash-out .buttons {
  width: 45%;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.modal .add-medicine .cash-out .buttons button {
  width: 180px;
  height: 44px;
  background-color: #f0f1f3;
  color: rgba(61, 62, 64, 0.7);
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
}

.modal .add-medicine .cash-out .buttons button.cancel:hover {
  background-color: #dee0e4;
}

.modal .add-medicine .cash-out .buttons button.submit {
  background-color: #98d838;
  color: #f0edfe;
}

.modal .add-medicine .cash-out .buttons button.submit:hover {
  background-color: #8bc731;
}

.modal .add-medicine .cash-out .buttons button h1 {
  font-size: 14px;
}

.medicineModal {
  height: 640px;
  width: 600px;
  background-color: #f2f5fa;
  border-radius: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.medicineModal .header {
  height: 10%;
  width: 100%;
  color: #94919a;
  -webkit-box-shadow: 0 8px 12px rgba(131, 147, 155, 0.25);
          box-shadow: 0 8px 12px rgba(131, 147, 155, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.medicineModal .header .title {
  font-size: 20px;
  font-weight: 600;
}

.medicineModal .form {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 48px 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.medicineModal .form__main {
  width: 100%;
}

.medicineModal .form__main__form-item {
  margin-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.medicineModal .form__main__form-item .title {
  font-size: 22px;
  color: #737178;
  font-weight: 400;
}

.medicineModal .form__main__form-item .input {
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  color: #737178;
  outline: 0;
  border-width: 0 0 1px 0;
  border-color: #c1c3c5;
  background-color: transparent;
}

.medicineModal .form .buttons {
  width: 100%;
}

.medicineModal .form .buttons__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.medicineModal .form .buttons .btn {
  width: 180px;
  height: 44px;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
}

.medicineModal .form .buttons .btn h1 {
  font-size: 18px;
  font-weight: 600;
}

.medicineModal .form .buttons .btn.cancel {
  background-color: #dee0e4;
  margin-right: 1em;
}

.medicineModal .form .buttons .btn.cancel:hover {
  background-color: #caccd0;
}

.medicineModal .form .buttons .btn.submit {
  background-color: #98d838;
  color: #f0edfe;
}

.medicineModal .form .buttons .btn.submit:hover {
  background-color: #8bc731;
}

.pos-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.pos-content__right {
  width: 25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pos-content__right__sign {
  padding-top: 20px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pos-content__right__sign__logo {
  width: 50px;
  height: auto;
}

.pos-content__right__sign__pharmacy-name {
  font-size: 25px;
}

.pos-content__right__location {
  font-size: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.pos-content__right__transaction {
  padding: 20px 0px 0px;
}

.pos-content__right__transaction__transaction-number {
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.pos-content__right__transaction__teller {
  padding: 0 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.pos-content__right__transaction__teller__picture {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 1px solid black;
}

.pos-content__right__transaction__teller__info {
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pos-content__right__transaction__teller__info__name {
  margin: 5px 0px;
  font-size: 24px;
}

.pos-content__right__transaction__teller__info__position {
  font-size: 16px;
}

.pos-content__right__invoice {
  padding: 20px;
}

.pos-content__right__invoice__items {
  height: 35vh;
}

.pos-content__right__invoice__checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
  margin-left: auto;
}

.pos-content__right__invoice__total {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filler {
  width: 60vw;
  height: 100vh;
  background-color: #f2f5fa;
}

.fillerz {
  width: 15vw;
  height: 100vh;
  background-color: #fff;
}

.transaction-no {
  font-weight: 400;
}

.h6 {
  font-size: 16px;
}

.x-small {
  font-size: 14px;
}

.total {
  font-size: 72px;
}
/*# sourceMappingURL=main.css.map */