@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none !important;
}

ul {
  list-style-type: none;
}

.site {
  height: 100vh;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.left-side-bar {
  height: 100%;
  width: 350px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.left-side-bar__top {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  max-height: 107px;
  background-color: #6646eb;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.left-side-bar__top__menu {
  width: 1.2em;
  height: auto;
  justify-self: flex-end;
}

.left-side-bar__top__pharmacy-name {
  font-size: 24px;
  line-height: 36px;
  font-style: normal;
  font-weight: normal;
  color: #f0edfe;
}

.left-side-bar__mid {
  width: 100%;
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  height: 100%;
  width: 1080px;
  background-color: #f2f5fa;
}

.right-side-bar {
  height: 100%;
  width: 490px;
  background-color: #f9fafe;
}

.left-side-bar__mid__function {
  width: 100%;
  height: auto;
  margin: 1em auto;
  padding: 1em 1em 1em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.left-side-bar__mid__function--active {
  background-color: #6646eb;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

.left-side-bar__mid__function__logo {
  width: 50px;
  height: auto;
}

.left-side-bar__mid__function__name {
  margin: auto 1em;
}

.left-side-bar__mid__function__name--active {
  color: #f0edfe;
}
/*# sourceMappingURL=main.css.map */