.pos-content {
	display: flex;
	flex-direction: row;
	&__left-side {
		padding: 20px;

		&__search-box {
			padding: 0px 0px 50px;
		}
	}
}

.table {
	border: 1px black;
	height: 70%;
}

.wala-lang {
	height: 25vh;
}
