.left-side-bar__mid__function {
  width: 80px;
  height: 80px;

  margin: 1em;
  border-radius: 100%;

  color: #000;

  &--active {
    color: $main-purple;
    background-color: #f2f5fa;
  }

  @include flexbox;

  &__logo {
    width: 40px;
    height: auto;
  }

  &__name {
    margin: auto 1em;
    display: none;
  }

  &:hover {
    background-color: #f2f5fa;
    cursor: pointer;
    color: $main-purple;
  }
}
