.close {
  position: absolute;
  right: 0.5em;
  top: 0;

  font-size: 42px;

  transform: rotate(45deg);
  cursor: pointer;
}

.modal {
  height: 100vh;
  width: 100vw;

  background-color: rgba($color: #000, $alpha: 0.4);

  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;

  @include flexbox;
  display: none;

  &--show {
    display: flex;
  }

  .add-medicine {
    height: 50vh;
    width: 50vw;

    transform: translateY(-5em);

    background-color: white;

    border-radius: 1em;

    @include flexbox($direction: column);

    & .table {
      transform: translateY(-1.5em);

      width: 90%;

      margin: 2em 0;

      display: grid;

      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;

      row-gap: 0.8em;
      column-gap: 5em;

      color: rgba(61, 62, 64, 0.7);

      &__item {
        display: grid;

        grid-template-columns: 1fr 1fr;

        h1 {
          font-size: 18px;
          width: auto;
        }

        .name {
          font-weight: normal;
          font-style: normal;
        }
      }
    }

    & .cash-out {
      position: absolute;
      bottom: 2em;
      width: 90%;

      color: rgba(61, 62, 64, 0.7);

      @include flexbox($justify: space-between);

      .total {
        width: 30%;
        height: 48px;

        @include flexbox($justify: space-between);

        h1 {
          font-size: 24px;
        }

        h1.name {
          font-weight: normal;
          font-style: normal;
        }
      }

      .buttons {
        width: 45%;
        height: 48px;

        @include flexbox($justify: space-between);

        button {
          width: 180px;
          height: 44px;

          background-color: #f0f1f3;
          color: rgba(61, 62, 64, 0.7);

          border: none;
          border-radius: 0.5em;

          cursor: pointer;

          transition: background-color 400ms ease;

          &.cancel:hover {
            background-color: #dee0e4;
          }

          &.submit {
            background-color: yellowgreen;
            color: $white-purple;

            &:hover {
              background-color: #8bc731;
            }
          }

          h1 {
            font-size: 14px;
          }
        }
      }
    }
  }
}

.medicineModal {
  height: 640px;
  width: 600px;

  background-color: #f2f5fa;
  border-radius: 32px;

  @include flexbox($direction: column);

  .header {
    height: 10%;
    width: 100%;

    color: #94919a;
    // border-bottom: 1px solid black;
    box-shadow: 0 8px 12px rgba(131, 147, 155, 0.25);

    @include flexbox;

    .title {
      font-size: 20px;
      font-weight: $semi-bold;
    }
  }

  .form {
    width: 100%;
    flex-grow: 1;

    padding: 48px 62px;

    @include flexbox($justify: space-between, $direction: column);

    &__main {
      width: 100%;

      &__form-item {
        margin-bottom: 2em;
        @include flexbox($justify: space-between);

        .title {
          font-size: 22px;
          color: #737178;
          font-weight: $normal;
        }

        .input {
          font-size: 16px;
          font-weight: $semi-bold;
          line-height: 32px;
          color: #737178;

          outline: 0;
          border-width: 0 0 1px 0;
          border-color: #c1c3c5;
          background-color: transparent;
        }
      }
    }

    .buttons {
      width: 100%;

      &__main {
        @include flexbox($justify: flex-end);
      }

      .btn {
        width: 180px;
        height: 44px;

        border: none;
        border-radius: 0.5em;

        cursor: pointer;

        transition: background-color 400ms ease;

        h1 {
          font-size: 18px;
          font-weight: $semi-bold;
        }

        &.cancel {
          background-color: #dee0e4;
          margin-right: 1em;

          &:hover {
            background-color: #caccd0;
          }
        }

        &.submit {
          background-color: yellowgreen;
          color: $white-purple;

          &:hover {
            background-color: #8bc731;
          }
        }
      }
    }
  }
}
