.modal {
  height: 100vh;
  width: 100vw;

  background-color: rgba($color: #000, $alpha: 0.4);

  position: absolute;
  top: 0;
  left: 0;

  @include flexbox;

  display: flex;

  .add-medicine {
    height: 50vh;
    width: 50vw;

    transform: translateY(-5em);

    background-color: white;

    border-radius: 1em;

    @include flexbox($direction: column);

    .close {
      position: absolute;
      right: 0.5em;
      top: 0;

      font-size: 42px;

      transform: rotate(45deg);
      cursor: pointer;
    }

    & .table {
      transform: translateY(-1.5em);

      width: 90%;

      margin: 2em 0;

      display: grid;

      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;

      row-gap: 0.8em;
      column-gap: 5em;

      color: rgba(61, 62, 64, 0.7);

  
      & .hide-text{
        display: none;
      }

      &__item {
        display: grid;

        grid-template-columns: 1fr 1fr;

        h1 {
          font-size: 18px;
          width: auto;
        }

        .name {
          font-weight: normal;
          font-style: normal;
        }
      }
    }

    & .cash-out {
      position: absolute;
      bottom: 2em;
      width: 90%;

      color: rgba(61, 62, 64, 0.7);

      @include flexbox($justify: flex-end);

      .buttons {
        width: 45%;
        height: 48px;

        @include flexbox($justify: space-between);

        button {
          width: 180px;
          height: 44px;

          background-color: #f0f1f3;
          color: rgba(61, 62, 64, 0.7);

          border: none;
          border-radius: 0.5em;

          cursor: pointer;

          transition: background-color 400ms ease;

          &.cancel:hover {
            background-color: #dee0e4;
          }

          &.submit {
            background-color: #98d838;

            // background-color: $main-purple;
            color: $white-purple;

            &:hover {
              background-color: #8bc731;
            }
          }

          h1 {
            font-size: 14px;
          }
        }
      }
    }
  }
}
